<%= flash[:notice] %>
<h1>Popular Photos on 500px</h1>
<div class="photo-grid">
  <% @photos.each do |photo| %>
  <%= link_to(image_tag("#{photo['image_url']}"), "https://500px.com/photo/#{photo['id']}") %>
  <% if current_user %>
  <%= link_to 'like', vote_path(:photo => "#{photo['id']}") %>
  <% end %>
  <% end %>

</div>
