<h1>Popular Photos on 500px</h1>
<div class="photo-grid">
<ul class="popular-photos">
  <% @photos.each do |photo| %>
  <li><img class="photos" src="<%= "#{photo['image_url']}" %> "/></li>
  <% end %>
</ul>
</div>
