// Nav bar
#user-nav {
  float: right;
}

// Popular photos body
  // Title area
h1 {
  text-align: center;
}

.flash {
  text-align: center;
}

// Caption for photos
.like-button, .liked-button {
  color: white;
  font-size: 14px;
  float: right;
}

.like-button:hover {
  color: red;
  content: 'Like';
  text-decoration: none;
}

.liked-button, .liked-button:hover {
  color: red;
  text-decoration: none;
}
